@model IEnumerable<BikeShop_FrontEnd.Models.BicycleModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <h1>Thiq Bike Shop</h1>
</head>

<body style="background-color: blanchedalmond">
    <p>Welcome to the 2020 Software Engineering Bike Shop!</p>

    @*<input type="radio" id="mountain" name="bike" value="mountain">
        <label for="mountain">Mountain Bike</label><br>
        <input type="radio" id="hybrid" name="bike" value="hybrid">
        <label for="hybrid">Hybrid Bike</label><br>
        <input type="radio" id="mountainFull" name="bike" value="mountainFull">
        <label for="mountainFull">Mountain Full Bike</label><br>
        <input type="radio" id="race" name="bike" value="race">
        <label for="race">Race Bike</label><br>
        <input type="radio" id="road" name="bike" value="road">
        <label for="road">Road Bike</label><br>
        <input type="radio" id="tour" name="bike" value="tour">
        <label for="tour">Tour Bike</label><br>
        <input type="radio" id="track" name="bike" value="track">
        <label for="track">Track Bike</label><br>*@

    @using (Html.BeginForm("Paint", "Home", FormMethod.Post))
    {
        <table class="table">
            <tr>
                <th>Bike Model</th>
                <th>Description</th>
                <th></th>
            </tr>
        @foreach (var item in Model)
        {
            var i = Html.DisplayFor(modelItem => item.MODELTYPE1);
            <tr>
                <td><b>@Html.DisplayFor(modelItem => item.MODELTYPE1)</b></td>  
                <td>@Html.DisplayFor(modelItem => item.DESCRIPTION)</td>
                @*<td>@Html.RadioButtonFor(modelItem => item.MODELTYPE1, i)</td>*@
                <td><input type="radio" name="bikeModel" value=@Html.DisplayFor(modelItem => item.MODELTYPE1)></td>
            </tr>
        }
        </table>

        <input type="submit" value="Submit">
    }

    @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MODELTYPE1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DESCRIPTION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.COMPONENTID)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MODELTYPE1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DESCRIPTION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.COMPONENTID)
                    </td>
                </tr>
            }
        </table>*@
</body>



